@import "~node_modules/modern-normalize/modern-normalize.css";
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  padding: 0;
  outline: none;
  border: none;
}
input{
  border: none;
  outline: none;
}