$main_font: 'Open Sans', sans-serif;
$title_font: "Poppins", sans-serif;
$form_font: 'Raleway', sans-serif;

$mainColor: #646464;
$buttonColor: #37806B;
$accentColor: #CAA892;
$subtitleColor: #646464;
$titleColor: #212121;
$bgColor: #ffffff;
$bgColorDark: #F8F8F8;
$borderColor:#b0855b;