<footer class="footer" id="contact">
  <div class="container footer__container">
    <div class="footer__company-block">
      <a href="" class="logo">
        <img
          src="./images/logo.png"
          alt="DECBASE logo"
          srcset="./images/logo.png 1x, ./images/logo-2x.png 2x"
          loading="lazy"
        />
      </a>
      <p class="footer__text text" >
        We are ready to lead you into the exciting<br />
        world of architecture and interior design.
      </p>
    </div>
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item footer__nav-item_first">
          <p class="footer__nav-link footer__nav-link_accent">Quick Links</p>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href=" ">About Our Company</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href=" ">Services WE provide</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href=" ">Career & Opportunity</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href=" ">Privacy & policy</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href=" ">Contact US</a>
        </li>
      </ul>
      <ul class="footer__nav-list">
        <li class="footer__nav-item footer__nav-item_first">
          <p class="footer__nav-link footer__nav-link_accent">Company</p>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href=" ">About Company</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href=" ">Our Testimonials</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href=" ">Latest News</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href=" ">Our misson</a>
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href=" ">Get a free Quot </a>
        </li>
      </ul>
      <ul class="footer__nav-list">
        <li class="footer__nav-item footer__nav-item_first">
          <p class="footer__nav-link footer__nav-link_accent">Contact us</p>
        </li>
        <li class="footer__nav-item">
          <a
            class="footer__nav-link text"
            href="https://goo.gl/maps/i8tyyEYE8oVn27HK8"
            target="_blank"
            rel="noopener
        noreferrer"
            >Sagrada Familia, Herba<br />Street Front USA</a
          >
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href="mailto:brandoxide@gmail.com"
            >brandoxide@gmail.com</a
          >
        </li>
        <li class="footer__nav-item">
          <a class="footer__nav-link text" href="callto:002-568423591"
            >002-568423591</a
          >
        </li>
      </ul>
    </nav>
    <div class="footer__media-block">
      <p class="footer__nav-link footer__nav-link_accent">Follow Us</p>
      <ul class="footer__media-list">
        <li class="footer__media-item">
          <a
            href="https://www.facebook.com/"
            class="footer__media-link"
            target="_blank"
            rel="noopener
                noreferrer"
          >
            <svg class="footer__media-icon" width="19" height="23">
              <use href="./images/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__media-item">
          <a
            href="https://twitter.com/?lang=uk"
            class="footer__media-link"
            target="_blank"
            rel="noopener
                noreferrer"
          >
            <svg class="footer__media-icon" width="20" height="20">
              <use href="./images/icons.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer__media-item">
          <a
            href="https://www.instagram.com/"
            class="footer__media-link"
            target="_blank"
            rel="noopener
                  noreferrer"
          >
            <svg class="footer__media-icon" width="19" height="19">
              <use href="./images/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__media-item">
          <a
            href="https://www.linkedin.com/"
            class="footer__media-link"
            target="_blank"
            rel="noopener
                noreferrer"
          >
            <svg class="footer__media-icon" width="21" height="20">
              <use href="./images/icons.svg#linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <p class="footer__rights text">
    Copyright @ <span class="footer__date text"></span>
    <a
      href=" "
      class="footer__rights_link"
      target="_blank"
      rel="noopener
      noreferrer"
      >Brandoxide</a
    >.all right reserved.
  </p>
</footer>
