<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <a href="" class="logo">
        <img
          src="./images/logo.png"
          alt="DECBASE logo"
          srcset="./images/logo.png 1x, ./images/logo-2x.png 2x"
          loading="lazy"
        />
      </a>
      <div class="header__wrap">
        <ul class="header__menu">
          <li class="header__item">
            <a class="header__link" href="#">Home</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#project">PROJECT</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#services">SERVICES</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#about">ABOUT</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#blog">BLOG</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#gallery ">GALLERY</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#contact">CONTACT</a>
          </li>
          <li class="header__item">
            <a class="header__link" href="#form">Sign Up</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="progress-bar"></div>
</header>
