<section class="section hero" id="project">
  <div class="container hero__container">
    <div class="hero__block">
      <h3 class="subtitle hero__subtitle">MODERN INTERIOR</h3>
      <h1 class="hero__title">Create Your Interior Design.</h1>
      <p class="hero__text text">
        In our studio, you can order a design project for an apartment, house,
        office and other commercial objects. We work in all interior styles,
        following interior fashion, it is important for us that the interior
        follows new trends, and at the same time emphasizes the lifestyle and
        tastes of its owners.
      </p>
      <button class="hero__button button" type="button">Contact</button>
    </div>
    <div class="img-wrap">
      <img
        class="hero__img img"
        srcset="./images/hero.png 1x, ./images/hero.png 2x"
        src="./images/hero.png"
        width="715"
        height="614"
        alt="interior"
        loading="lazy"
      />
    </div>
  </div>
</section>
