<section class="section news" id="blog">
  <div class="container news__container">
    <h3 class="subtitle news__subtitle">LATEST NEWS</h3>
    <h2 class="news__title title">From Our Blog</h2>
    <ul class="news__list">
      <li class="news__item">
        <div class="img-wrap news__wrap">
          <img
            srcset="./images/news1.png 1x, ./images/news1.png 2x"
            src="./images/news1.png"
            width="553"
            height="386"
            alt="interior"
            loading="lazy"
            class="news__img img"
          />
        </div>
        <div class="news__info-block">
          <h4 class="news__article-title">2020 Interior Design Trends</h4>
          <p class="text news__text">
            Top designers reveal the trends that are big on the home front this
            year—plus those worth saying goodbye to.
          </p>
        </div>
        <button class="news__button button" type="button">
          CONTINUE READING....
        </button>
      </li>
      <li class="news__item">
        <div class="img-wrap news__wrap">
          <img
            srcset="./images/news2.png 1x, ./images/news2.png 2x"
            src="./images/news2.png"
            width="553"
            height="386"
            alt="interior"
            loading="lazy"
            class="news__img img"
          />
        </div>
        <div class="news__info-block">
          <h4 class="news__article-title">
            28 Notable Product at ARC Interior Design
          </h4>
          <p class="text news__text">
            Arc Interiors is THE place to meet and get a true understanding of
            the needs, aspirations ...
          </p>
        </div>
        <button class="news__button button" type="button">
          CONTINUE READING....
        </button>
      </li>
    </ul>
  </div>
</section>
