<section class="section services" id="services">
  <div class="container services__container">
    <h3 class="subtitle services__subtitle">WHAT WE DO</h3>
    <h2 class="title services__title">Our Service</h2>
    <ul class="services__list-filter">
      <li class="services__item-filter">
        <button class="services__button-filter button active" type="button" value="">
          ALL
        </button>
      </li>
      <li class="services__item-filter">
        <button class="services__button-filter button" type="button" value="interior design">
          INTERIOR DESIGN
        </button>
      </li>
      <li class="services__item-filter">
        <button class="services__button-filter button" type="button" value="architecture">
          ARCHITECTURE
        </button>
      </li>
      <li class="services__item-filter">
        <button class="services__button-filter button" type="button" value="furniture">
          FURNITURE
        </button>
      </li>
    </ul>
    <ul class="services__list"></ul>
  </div>
</section>
