<section class="section subscribtion"  id="form">
  <div class="backdrop is-hidden">
    <div class="modal"></div>
  </div>
  <div class="subscribtion__container">
    <h2 class="subscribtion__title title" >DON’T FORGET TO SIGN UP</h2>
    <p class="subscribtion__text text">
      Find out early about all upcoming promotions and new product releases with
      our newsletter.
    </p>
    <form class="form" name="subscrible_form">
      <div class="form__wrap">
        <div class="form__input-wrap">
          <input
            id="name"
            name="name"
            type="text"
            class="form__input text"
            placeholder="Enter your name....."
            required
          />
          <p class="form__input_error" id="name-error"></p>
        </div>
        <div class="form__input-wrap">
          <input
            id="surname"
            name="surname"
            type="text"
            class="form__input text"
            placeholder="Enter your surname....."
            required
          />
          <p class="form__input_error" id="surname-error"></p>
        </div>
      </div>
      <div class="form__input-wrap">
        <input
          id="email"
          name="email"
          type="email"
          class="form__input text"
          placeholder="Enter your e-mail....."
          required
        />
        <p class="form__input_error" id="email-error"></p>
      </div>
      <button type="submit" class="subscribtion__btn button">SUBSCRIBE</button>
    </form>
  </div>
</section>
