<section class="section testimonials">
  <div class=" testimonials__container">
    <h3 class="subtitle testimonials__subtitle">TESTIMONIALS</h3>
    <h2 class="testimonials__title title">Client says about us</h2>
    <div class="testimonials__carousel swiper">
      <nav class="testimonials__nav">
        <button type="button" class="testimonials__btn carousel-arrow-left">
          <svg class="testimonials__icon" width="7" height="13">
            <use href="./images/icons.svg#left"></use>
          </svg>
        </button>
        <button type="button" class="testimonials__btn carousel-arrow-right">
          <svg class="testimonials__icon" width="7" height="13">
            <use href="./images/icons.svg#right"></use>
          </svg>
        </button>
      </nav>
      <div class="testimonials__list">
        <div class="testimonials__block swiper-wrapper">
          <ul class="testimonials__slide swiper-slide">
            <li class="testimonials__item card">
              <img
                class="testimonials__img"
                srcset="./images/client1.png 1x, ./images/client1.png 2x"
                src="./images/client1.png"
                width="130"
                height="131"
                alt="man"
                loading="lazy"
              />
              <div class="testimonials__wrap">
                <h3 class="testimonials__clientInfo">
                  Louis Saville<span> /CEO at Google inc</span>
                </h3>
                <p class="testimonials__quotes">"</p>
                <p class="testimonials__text text">
                  The level of professionalism, attention to detail, and client
                  focus has been amazing. From the floor plan layouts to the
                  selection of materials to helping with the contractors,
                  everything has been top notch!
                </p>
              </div>
            </li>
            <li class="testimonials__item card">
              <img
                class="testimonials__img"
                srcset="./images/client2-2x.png 1x, ./images/client2-2x.png 2x"
                src="./images/client2-2x.png"
                width="130"
                height="131"
                alt="man"
                loading="lazy"
              />
              <div class="testimonials__wrap">
                <h3 class="testimonials__clientInfo">
                  Rekha Varadwaz<span> /Manager at Nike inc</span>
                </h3>
                <p class="testimonials__quotes">"</p>
                <p class="testimonials__text text">
                  Jane and her team were great. They really took the time to
                  understand my style and helped me express myself in my home.
                  The team's attention to detail was phenomenal. 
                </p>
              </div>
            </li>
          </ul>
          <ul class="testimonials__slide swiper-slide">
            <li class="testimonials__item card">
              <img
                class="testimonials__img"
                srcset="./images/client1.png 1x, ./images/client1.png 2x"
                src="./images/client1.png"
                width="130"
                height="131"
                alt="man"
                loading="lazy"
              />
              <div class="testimonials__wrap">
                <h3 class="testimonials__clientInfo">Ben Gor<span> /CEO at Figma</span></h3>
                <p class="testimonials__quotes">"</p>
                <p class="testimonials__text text">
                  It has been a real pleasure working with your team. It’s a
                  rare treat to see a design team who are so proficient,
                  diligent and really “on it”. Working
                  with professionals like your group, I feel confident that
                  together we can deliver a great product for our client.
                </p>
              </div>
            </li>
            <li class="testimonials__item card">
              <img
                class="testimonials__img"
                srcset="./images/client2-2x.png 1x, ./images/client2-2x.png 2x"
                src="./images/client2-2x.png"
                width="130"
                height="131"
                alt="man"
                loading="lazy"
              />
              <div class="testimonials__wrap">
                <h3 class="testimonials__clientInfo">Ann Volowetc<span> /Housewife</span></h3>
                <p class="testimonials__quotes">"</p>
                <p class="testimonials__text text">
                  Thank you for making the whole process so enjoyable. I
                  absolutely love my kitchen. Both Style at Home and Canadian
                  Living want to feature it once the embargo is lifted, everyone
                  thinks it is amazing. Its make our life easier.
                </p>
              </div>
            </li>
          </ul>
          <ul class="testimonials__slide swiper-slide">
            <li class="testimonials__item card">
              <img
                class="testimonials__img"
                srcset="./images/client1.png 1x, ./images/client1.png 2x"
                src="./images/client1.png"
                width="130"
                height="131"
                alt="man"
                loading="lazy"
              />
              <div class="testimonials__wrap">
                <h3 class="testimonials__clientInfo">
                  J Filippelli<span> /Front-end developer</span>
                </h3>
                <p class="testimonials__quotes">"</p>
                <p class="testimonials__text text">
                  Jane and her team are absolutely amazing, which is why we
                  engaged them for multiple projects!
                </p>
              </div>
            </li>
            <li class="testimonials__item card">
              <img
                class="testimonials__img"
                srcset="./images/client2-2x.png 1x, ./images/client2-2x.png 2x"
                src="./images/client2-2x.png"
                width="130"
                height="131"
                alt="man"
                loading="lazy"
              />
              <div class="testimonials__wrap">
                <h3 class="testimonials__clientInfo">
                  Zoi Swann<span> /Manager at Zara</span>
                </h3>
                <p class="testimonials__quotes">"</p>
                <p class="testimonials__text text">
                  Just saw the sectional – looks amazing!!! It’s gorgeous. Could
                  keep going on...thank you.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
     </div>
  </div>
</section>
