<section class="section works">
  <div class="container works__container">
    <h2 class="title works__title">
      3000+ Completed Work <br />
      Which WE have Successfully Done
    </h2>
    <ul class="works__list">
      <li class="works__item">
        <p class="works__number">980</p>
        <p class="works__text text">Project</p>
      </li>
      <li class="works__icon"></li>
      <li class="works__item">
        <p class="works__number">520</p>
        <p class="works__text text">Happy Client</p>
      </li>
      <li class="works__icon"></li>
      <li class="works__item">
        <p class="works__number">330</p>
        <p class="works__text text">Winners</p>
      </li>
      <li class="works__icon"></li>
      <li class="works__item">
        <p class="works__number">120</p>
        <p class="works__text text">Recommend</p>
      </li>
    </ul>
  </div>
</section>
