.testimonials {
  position: relative;
  padding-bottom: 90px;
  &::before {
    content: url(../images/decore1.svg);
    position: absolute;
    top: -87px;
    left: 0px;
  }
  &__subtitle {
    text-align: center;
  }
  &__title {
    text-align: center;
  }
  &__nav {
    margin-bottom: 85px;
    margin-right: 50px;
    @include centeredFlex(flex-end);
    gap: 5rem;
  }
  &__btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @include centeredFlex();
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
    background-color: $bgColor;
    @include transition(background-color, stroke);
    &:hover,
    &:focus {
      background-color: $buttonColor;
      .testimonials__icon {
        stroke: $bgColor;
      }
    }
  }
  &__icon {
    stroke: $mainColor;
  }
  &__list{
    padding: 10px;
  }
  &__slide {
    @include centeredFlex();
    gap:60px;
    // padding-bottom: 10px;
  }
  &__item {
    position: relative;
    @include centeredFlex(center, start);
    gap:30px;
    padding: 2rem 2rem 2rem 0;
    background-color: $bgColor;
    box-shadow: 13px 0px 47px 1px #4260542e;
    border-radius: 70px 0px;
    width: 600px;
  }
  &__wrap {
    @include centeredFlex(center, start);
    gap: 20px;
    flex-direction: column;
  
  }
  &__img{
    border-radius: 1.75rem 0rem;
    width: 130px;
    height: 130px;
    transform: translateX(-30px);
  }
  &__clientInfo {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    color: $titleColor;
    & span {
      color: $mainColor;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.875rem;
    }
  }
  &__quotes {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    font-size: 108px;
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: $borderColor;
  }
}
 